body{
  font-family: "helvetica", sans-serif;
}

h1{
  font-size: 25px;
}

h3{
  font-style: italic;
  font-weight: 500;
}

a {
  text-decoration: none;
  color:#40B549;
}

a:hover {
  color:#317A62;
}




#navigation {
  position: fixed;
  margin-top: 40px;
  margin-left: 40px;
  text-align: center;
}

#logo{
  margin-left:0px;
}
.item {
  background-color:#F2F2F2;

  padding: 0px;
  margin-top:10px;
  text-align: left;
  list-style: none;
}



.item li a{
  list-style: none;
  color: #40B549;
  padding-left:15px;


}

.item li a:hover{
  color: #317A62;
}

#content{
  width:50%;
  font-size: 14px;
  position: relative;
  margin-left:200px;
  padding-right: 30px;
  top: 50px;
  display: inline-block;
}
#content img{
  width:100%;

}

#about{
  height:auto;
  position:absolute;
  margin-top:70px;
  display: inline-block;
}

#abouttext{
  width: 150px;
  font-size: 12px;
  background-color:#F2F2F2;
  padding:15px;
  margin-top: 5px;
}

#about img{
  width:180px;
}

.icon{
  width:20%;
}